<select @bind="SelectedItem" class="dropdown-down">
    @foreach (var item in Items)
    {
        <option value="@item">@item</option>
    }
</select>

@code {
    public ComboBox02()
    {
        Items = new List<string>();
    }

    private List<string> _items;
    [Parameter]
    public List<string> Items
    {
        get
        {
            return _items;
        }
        set
        {
            _items = value;
            CheckSelectedItem();
        }
    }

    private void CheckSelectedItem()
    {
        if (SelectedItem != null
            && Items.Contains(SelectedItem))
            return;

        if (Items == null ||
            Items.Count < 1)
            return;
        
        string? first = Items.FirstOrDefault();
        if (!string.IsNullOrEmpty(first))
        {
            SelectedItem = first;
        }
    }
    
    
    [Parameter]
    public EventCallback<string> SelectedItemChanged { get; set; }

    // Wartość wybrana z ComboBoxa
    private string _selectedItem;
    [Parameter]
    public string SelectedItem
    {
        get => _selectedItem;
        set
        {
            string previous = _selectedItem;
            _selectedItem = value;
            if (previous != value)
            {
                SelectedItemChanged.InvokeAsync(SelectedItem);
            }
        }
    }

    protected override void OnInitialized()
    {
        if (Items == null ||
            Items.Count < 1)
            return;
        
        CheckSelectedItem();
    }
}
