@page "/counter"
@using BackendAdapters.Workers

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: <FluentBadge Appearance="Appearance.Neutral">@currentCount</FluentBadge></p>

<FluentButton Appearance="Appearance.Accent" @onclick="IncrementCount">Click me</FluentButton>

@code {
    [Inject]
    private BackendAdapter Backend { get; set; }
    
    [Inject]
    private RepoAdapter Repo { get; set; }

    
    private int currentCount = 0;

    private async Task IncrementCount()
    {
        var gg = await Repo.GetFirstRepo();
    }

}